@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}